body{
  font-style: 'Nunito';
  margin: 0 auto;
  
  
}
ul{
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  overflow: hidden;
  
  
}
ul>li{
  
  float: left;
}
li>a{
  text-decoration: none;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;  
  color: black;
}
.containerheader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}
.buttons{
  background-color: #EC4067;
  border-radius: 5px;
}
.container{
  display: flex;
  margin-left: 80px;
  margin-right: 80px;
  align-items: center;
  
  justify-content: center;
  padding: 80px;
  margin-bottom: -70px;
  

}
.container>div{

 width: 100%;
  
}
.container>div>img{
  width: 70%;


}
@media(max-width: 600px){
  .container{
    flex-direction: column;
    align-items: center;
  }
  .container>div>img{
    width: 100%;
  }
}
.title{
  margin-left: 150px;
  margin-bottom: -70px;
  font-size: 12px;
  
  
  
}
.cover{
  margin-top: 70px;
  display: flex;
  margin-left: 150px ;
  margin-right: 80px;
  justify-content: center;
}
.cover>div{
  width: 25%;
}
.cover>div>*{
  width: 80%;
}
@media(max-width: 600px){
  .cover{
    flex-direction: column;
  }
  .cover>div{
    width: 100%;
  }
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;

}
.last{
  margin-left: 150px;
}